body {
    color: grey;
    background-color: #f9f8f6;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4em;
    margin: 0px;
     
}
.wrapper {
    width: 940px;
    margin: 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}
header {
    height: 120px;
    background-image: url(images/index.png);
    background-size: contain;
    background-repeat: no-repeat;
}
h1 {
    text-indent: -9999px;
    width: 940px;
    height: 130px;
    margin: 0px;
}
nav, footer {
    clear: both;
    color: #ffffff;
    background-color: blue;
    height: 30px;
    
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav li {
    display: inline;
    margin-right: 40px;
    color: #ffffff;
}
nav li a {
    color: #ffffff;
    text-decoration: none;
}
nav li a:hover, nav li a.current {
    color: #000000;
}
h1 {
    text-indent: -9999px;
    width: 940px;
    height: 130px;
    margin: 0px;
}
footer {
    font-size: 80%;
    width: 940px;
    
}

.product {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  float:left;
  width: 31.3%;
  background: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 16px;
  height: 500px;
  
}
#geisha{
    width:100%;
    margin-top:-80px;
}
.product * {
  box-sizing: border-box;
}
.product img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.product .add {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #409ad5;
  transform: rotateX(-90deg);
}
.product .add i {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #164666;
  color: #ffffff;
  font-size: 1.4em;
}
.product figcaption {
  padding: 10px;
}
.product h3, .product p {
  margin: 0;
}
.product h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.product p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
}
.product .price {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 48px;
  letter-spacing: 1px;
}
.product .price s {
  margin-right: 5px;
  color:red;
  font-size: 0.9em;
}
.product a {
  position: absolute;
}
.product:hover .add, .product.hover .add {
  opacity: 1;
  transform: rotateX(0deg);
}
.product:hover .add i,.product.hover .add i {
  background-color: #2980b9;
}

body {
  background-color: #212121;
}
footer {
    font-size: 80%;
    width: 940px;
    
    
}
footer a{
    color:white;
    text-decoration: none;
    margin: 4%;
}
footer a:hover{
    color:black;
}
