body {
    color: black;
    background-color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.4em;
    margin: 0px;
}
.wrapper {
    width: 960px;
    margin: 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}
header {
    height: 120px;
    background-image: url(images/index.png);
    background-size: contain;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;

}
footer{
   
    background-color: blue;
    height: 30px;
}
footer a{
    color: white;
    text-decoration: none;
    padding: 5px;

}
footer a:hover{
    color: black;
}